# Environment Variables Template
# Copy this file to .env and fill in your values

# Database Configuration
DB_USER=ZdFFUsWiIuILvub
DB_PASSWORD=rxoz32pYOeqYEAMVG263
DB_HOST=circuly-development-v12.csmudpdd3zlm.eu-central-1.rds.amazonaws.com
DB_NAME=postgres
DB_PORT=5432
